/*
    Apply CSS styles based on PyQt5 Widget class names, same
    as HTML class names / IDs.

    keyframe animations do not appear to be supported.
*/

QPushButton {
    background-color:   #4e4e4e;
    border-radius:  10px;
    color:  #FFF
}
QPushButton:hover {
    background-color:   #bbb
}

QMainWindow {
    background-color: rgb(118, 163, 247);
}